* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

/* mutli part start */

#multi{
    background-color: black;
    padding: 50px 0;
}

.mutli-heading h3{
    font-family: "Poppins", serif;
    font-size: 40px;
    font-weight: 600;
    color: #009e66;
    text-align: center;
}

.multi-project{
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
}

.multi-code {
    display: flex;
    align-items: center;
}

.multi-code i {
    font-size: 24px;
    color: white;
}

.multi-code h5 {
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-left: 20px;
}

.multi-lang {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.multi-lang i {
    font-size: 24px;
    color: white;
}

.multi-lang h5 {
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-left: 20px;
}

.multi_banner_one {
    display: flex;
    align-items: center;
}

.multi_banner_one i {
    font-size: 24px;
    color: white;
}

.multi_banner_one h5 {
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-left: 20px;
}

.multi_banner_two {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.multi_banner_two i {
    font-size: 24px;
    color: white;
}

.multi_banner_two h5 {
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-left: 20px;
}

.multi-images a img {
    margin-left: 280px;
    padding-top: 50px;
}

/* multi part end */